openapi: 3.0.3
info:
  title: Notification MCP API
  description: |
    Notification Model Context Protocol (MCP) Server API for HR onboarding automation.
    Provides comprehensive notification and communication capabilities including email, SMS, and system notifications.
  version: 1.0.0
  contact:
    name: HR Systems Team
    email: hr-systems@company.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://notification-mcp-complete-0etp45.rajrd4-2.usa-e1.cloudhub.io
    description: Production CloudHub 2.0 Server
  - url: http://localhost:8081
    description: Local Development Server

tags:
  - name: notifications
    description: Notification management operations
  - name: templates
    description: Notification template operations
  - name: health
    description: Health check operations
  - name: mcp
    description: MCP protocol operations

paths:
  /health:
    get:
      tags: [health]
      summary: Health check endpoint
      description: Check the health status of the Notification MCP server
      operationId: getHealth
      responses:
        '200':
          description: Server is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'

  /notifications/send:
    post:
      tags: [notifications]
      summary: Send notification
      description: Send a notification via specified channel (email, SMS, system)
      operationId: sendNotification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationRequest'
      responses:
        '200':
          description: Notification sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationResponse'
        '400':
          description: Invalid request
        '500':
          description: Failed to send notification

  /notifications/{id}:
    get:
      tags: [notifications]
      summary: Get notification status
      description: Retrieve the delivery status of a specific notification
      operationId: getNotificationStatus
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Notification ID
      responses:
        '200':
          description: Notification status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationStatus'
        '404':
          description: Notification not found

  /notifications/template:
    post:
      tags: [templates]
      summary: Create notification template
      description: Create a new notification template for reuse
      operationId: createTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateRequest'
      responses:
        '201':
          description: Template created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
        '400':
          description: Invalid template request

  /notifications/template/{templateId}:
    get:
      tags: [templates]
      summary: Get notification template
      description: Retrieve a specific notification template
      operationId: getTemplate
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
          description: Template ID
      responses:
        '200':
          description: Template details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '404':
          description: Template not found

  /notifications/history/{employeeId}:
    get:
      tags: [notifications]
      summary: Get notification history
      description: Get notification history for a specific employee
      operationId: getNotificationHistory
      parameters:
        - name: employeeId
          in: path
          required: true
          schema:
            type: string
          description: Employee ID
        - name: limit
          in: query
          description: Maximum number of notifications to return
          required: false
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: channel
          in: query
          description: Filter by notification channel
          required: false
          schema:
            type: string
            enum: [email, sms, system, webhook]
      responses:
        '200':
          description: Notification history
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotificationHistory'
        '404':
          description: Employee not found

  /notifications/bulk:
    post:
      tags: [notifications]
      summary: Send bulk notifications
      description: Send notifications to multiple recipients
      operationId: sendBulkNotifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkNotificationRequest'
      responses:
        '200':
          description: Bulk notifications sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkNotificationResponse'
        '400':
          description: Invalid bulk request

  /mcp/tools:
    get:
      tags: [mcp]
      summary: List available MCP tools
      description: Get list of available Model Context Protocol tools
      operationId: getMCPTools
      responses:
        '200':
          description: Available MCP tools
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPToolsResponse'

components:
  schemas:
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          example: "UP"
        timestamp:
          type: string
          format: date-time
        version:
          type: string
          example: "1.0.0"
        channels:
          type: object
          properties:
            email:
              type: string
              example: "UP"
            sms:
              type: string
              example: "UP"
            system:
              type: string
              example: "UP"

    NotificationRequest:
      type: object
      properties:
        channel:
          type: string
          enum: [email, sms, system, webhook]
        recipient:
          oneOf:
            - type: string
              description: Single recipient
            - type: array
              items:
                type: string
              description: Multiple recipients
        subject:
          type: string
          description: Notification subject (for email)
        message:
          type: string
          description: Notification message content
        templateId:
          type: string
          description: Template ID to use for the notification
        variables:
          type: object
          additionalProperties: true
          description: Template variables for substitution
        priority:
          type: string
          enum: [low, medium, high, urgent]
          default: medium
        employeeId:
          type: string
          description: Employee ID for tracking
        metadata:
          type: object
          additionalProperties: true
          description: Additional metadata
      required:
        - channel
        - recipient
        - message

    NotificationResponse:
      type: object
      properties:
        success:
          type: boolean
        notificationId:
          type: string
        status:
          type: string
          enum: [sent, pending, failed]
        timestamp:
          type: string
          format: date-time
        channel:
          type: string
        deliveryInfo:
          type: object
          additionalProperties: true

    NotificationStatus:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum: [sent, delivered, read, failed, pending]
        channel:
          type: string
        recipient:
          type: string
        sentAt:
          type: string
          format: date-time
        deliveredAt:
          type: string
          format: date-time
          nullable: true
        readAt:
          type: string
          format: date-time
          nullable: true
        failureReason:
          type: string
          nullable: true
        retryCount:
          type: integer

    TemplateRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        channel:
          type: string
          enum: [email, sms, system, webhook]
        subject:
          type: string
          description: Template subject (for email)
        content:
          type: string
          description: Template content with placeholders
        variables:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
                enum: [string, number, date, boolean]
              required:
                type: boolean
              description:
                type: string
        category:
          type: string
          enum: [welcome, reminder, confirmation, alert, system]
      required:
        - name
        - channel
        - content

    TemplateResponse:
      type: object
      properties:
        success:
          type: boolean
        templateId:
          type: string
        name:
          type: string
        createdAt:
          type: string
          format: date-time

    Template:
      allOf:
        - $ref: '#/components/schemas/TemplateRequest'
        - type: object
          properties:
            id:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
            usageCount:
              type: integer

    NotificationHistory:
      type: object
      properties:
        id:
          type: string
        employeeId:
          type: string
        channel:
          type: string
        recipient:
          type: string
        subject:
          type: string
        message:
          type: string
        status:
          type: string
        sentAt:
          type: string
          format: date-time
        templateUsed:
          type: string
          nullable: true

    BulkNotificationRequest:
      type: object
      properties:
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/NotificationRequest'
        batchSize:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        delayBetweenBatches:
          type: integer
          description: Delay in milliseconds between batches
          default: 1000
      required:
        - notifications

    BulkNotificationResponse:
      type: object
      properties:
        success:
          type: boolean
        batchId:
          type: string
        totalNotifications:
          type: integer
        successfulSent:
          type: integer
        failed:
          type: integer
        results:
          type: array
          items:
            type: object
            properties:
              notificationId:
                type: string
              status:
                type: string
              error:
                type: string
                nullable: true

    MCPToolsResponse:
      type: object
      properties:
        tools:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
              inputSchema:
                type: object
        version:
          type: string

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

security:
  - ApiKeyAuth: []
